:host {
    nav {
        padding: 20px 0 12px 0;
        display: flex;
        justify-content: space-evenly;
        background: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(46,96,119,0.29);
    }
}